* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section Start */
header {
  display: flex;
  width: 1221px;
  background-color: #161616;
  border-radius: 30px;
  margin: 50px;
}
.header-info {
  margin: 111px 24px 111px 106px;
}
.header-info h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 20px;
}
.header-info p {
  color: white;
  margin-bottom: 30px;
}
.header-banner img {
  width: 581px;
  height: 613px;
  margin: 33px 79px 0 24px;
}
.header-button {
  width: 187px;
  height: 56px;
  background-color: #dd0000;
  border-radius: 20px;
}
.header-button:hover {
  background-color: #17a589;
  padding-left: 10px;
}
button span {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
button i {
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: 19px;
}
/* Header Section End */
.main-content {
  display: flex;
  margin-top: 130px;
}
/*Sidebar Start*/
.sidebar {
  display: inline-block;
  background-color: #161616;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 24px;
}
button {
  display: block;
  width: 252px;
  height: 64px;
  background-color: white;
  border-radius: 10px;
  margin: 30px 30px 30px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.sidebar-text a {
  display: block;
  width: 252px;
  height: 64px;
  border-radius: 10px;
  margin: 30px 30px 30px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}
.sidebar-text {
  width: 312px;
  height: 312px;
  color: #e8e8e8;
}

.sidebar-text button:nth-child(1) {
  background-color: #dd0000;
  color: #ffffff;
}
/* Sidebar End */
/* Upcoming Match Page */

.germany-france {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-right: 140px;
}
.upcoming-match {
  width: 312px;
  height: 242px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.country-flag {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.flag-1 img {
  width: 94px;
  height: 55px;
}
.flag-2 img {
  width: 94px;
  height: 55px;
}
.country-flag .flag-1 {
  margin-top: 53px;
  margin-right: 21px;
}
.country-flag .flag-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 67px;
  color: #161616;
}
.country-flag .flag-2 {
  margin-top: 53px;
  margin-left: 21px;
}
.details .fixture {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  color: #161616;
}
.details .fixture-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  color: #4d4d4d;
}
/* Footer Section */
.footer-section {
  margin: 0;
  padding: 0px;
  background-color: #161616;
}
.footer-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  padding-top: 75px;
  margin-top: 130px;
  margin-bottom: 50px;
}
.footer-section hr {
  width: 1020px;
  height: 0px;
  margin-left: 170px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-section .social-links {
  text-align: center;
  padding-bottom: 25px;
  color: #4d4d4d;
  margin-top: 30px;
}
.footer-section .social-links a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #4d4d4d;
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer-section .social-links a:hover {
  opacity: 0.9;
}
.footer-section ul {
  margin: 0;
  padding-bottom: 40px;
  list-style: none;
  text-align: center;
}
.footer-section ul li a {
  text-decoration: none;
  color: #4d4d4d;
  opacity: 0.4;
}
.footer-section ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer-section ul li:hover {
  opacity: 0.7;
}
